/* Template */
html
{
    height: 100%;
}

/* @media screen and (max-width: 480px) */
body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #FFF;
    height: 100%;
}

nav
{
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul
{
    list-style: none;
    background-color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li
{
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}

nav a
{
    text-decoration: none;
    color: #AA1922;
    display: block;
    padding-left: 15px;
    border-bottom: medium none;
}

nav a.active
{
    background-color: #fff;
    color: #AA1922;
    cursor: default;
}

/* Sub Menus */
nav li li
{
    font-size: .8em;
}

section
{
    padding-top: 50px;
    padding-bottom: 30px;
    height: 100%;
    box-sizing: border-box;
}

footer
{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #FFF;
    width: 100%;
    line-height: 30px;
}

footer a
{
    font-size: .8em;
    font-family: sans-serif;
    color: #AA1922;
    display: inline-block;
    text-decoration: none;
    padding-left: 1em;
}

/* /Template */

/* Login */
.login
{
    font-family: 'Abel', sans-serif;
    text-align: right;
    font-size: 85%;
}

.login button
{
    background-color: #AA1922;
    color: #FFF;
    transition: .3s background-color;
    width: 100%;
    border: none;
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 2;
    
    padding-left: 5px; /* WIP */
}

.login button:hover
{
    background-color: #F82E3B;
}

.login a
{
    color: #AA1922;
    text-decoration: none;
    transition: .2s color;
}

.login a:hover
{
    color: #F82E3B;
    text-decoration: underline;
}

.login table
{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#forgotten_id
{
    text-align: left;
}

.login input
{
    width: 100%;
    padding: 0;
    line-height: 2;
    background-color: #FFF !important;
    padding-left: 5px;
    border: solid 1px;
    border-color: lightgrey;
    transition: .3s border-color;
    
    /* Fix padding issue with input */
    box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

.login input:hover
{
    border-color: black; 
}

.login td
{
    padding: .3em;
    
}

/* /Login */
/* Profile */
.d_box /* Display box for the profile page */
{
    margin-top: 50px;
    
}
/* /Profile */
/* Popup 
    .edition
    {
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: -999;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.8);
        transition: opacity 200ms ease-in;
    }
    
    .edition:target
    {
        z-index: 999;
        opacity: 1;
        pointer-events: auto;
    }
    
    .edition > div {
        max-width: 400px;
        position: relative;
        padding: 8px 8px 8px 8px;
        border-radius: 2px;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
    }
    
     /Popup */

/* != for computer screens */
@media screen and (min-width: 1024px)
{
    /* Template */
    h2
    {
        font-family: 'Abel', sans-serif;
        text-transform: uppercase;
        color: black;
        font-weight: 100;
        font-size: 200%;
    }
    
    h3
    {
        color: #AA1922;
        font-weight: 100;
    }
    
    /* nav style */
    nav li
    {
        /*
        WIP
        width: 130px;*/
        
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }
    
    nav a
    {
        border-bottom: none;
    }
    
    nav li
    {
        text-align: center;
    }
    
    nav a
    {
        padding: 0px 30px 0px 30px;
    }
    /* /nav style */
    /* /Template */
    
    /* Article */
    article
    {
        padding-top: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 200%;
    }
    /* /Article */
    
    /* Login */
    .login
    {
        margin-top: 15%;
    }

    .login h2
    {
        text-align: justify;
        margin-left: 30%;
    }
    
    /* /Login */
    /* Profil */
    
    .d_box /* display box for the profil page */
    {
        position: relative;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-60%);
    }
    
    .d_box_row /* each line of the display box */
    {
        display: block;
        padding: 50px;
    }
    
    .field-name
    {
        font-family: 'Abel', sans-serif;
        text-transform: uppercase;
        font-size: 100%;
        color: #AA1922;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        
    }
    
    .field-label
    {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }
    
    .field-edit
    {
        font-family: 'Abel', sans-serif;
        display: inline-block;
        width 20%;
        vertical-align: middle;
        margin-left: 20px;
    }
    
    .field-edit a
    {
        text-transform: uppercase;
        font-size: 85%;
        text-decoration: none;
        color: #FFF;
        transition: .3s background-color;
        background-color: #AA1922;
        padding: 10px;
    }
    
    .field-edit a:hover
    {
        background-color: #F82E3B;   
    }
    
    /* /Profil */
    
    /* Popup */
    .edition
    {
        /* WIP */
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: -999;
        opacity: 0;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.8);
        transition: background-color 200ms ease-in;
    }
    
    .edition:target
    {
        z-index: 999;
        opacity: 1;
        pointer-events: auto;
    }
    
    .edition > div {
        max-width: 400px;
        position: relative;
        padding: 20px;
        border-radius: 0px;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        /*box-shadow: 0px 0px 20px 10px #fff;
            -moz-box-shadow: 0px 0px 20px 10px #fff;
            -webkit-box-shadow: 0px 0px 20px 10px #fff;
            -o-box-shadow: 0px 0px 20px 10px #fff;*/
    }
    
    .edition label
    {
        display: block;
        margin-top: 20px;
        font-family: 'Abel', sans-serif;
        text-transform: uppercase;
        color: #AA1922;
    }
    
    .edition input
    {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding: 0;
        line-height: 2;
        background-color: #FFF !important;
        padding-left: 5px;
        border: solid 1px;
        border-color: lightgrey;
        transition: .3s border-color;
        
        /* Fix padding issue with input */
        box-sizing: border-box; 
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        /* /Fix */
    }

    .edition input:hover
    {
        border-color: black; 
    }
    
    .edition button
    {
        
    }
    
    .edition button:hover
    {
        background-color: #F82E3B;
    }
    
    .button-apply
    {
        display: block;
        vertical-align: middle;
        margin-top: 20px;
        margin-right: 0;
        
        text-transform: uppercase;
        font-family: 'Abel';
        font-size: 85%;
        color: #FFF;
        transition: .3s background-color;
        background-color: #AA1922;
        border: none;
        line-height: 2;
    }
    
    .button-cancel
    {
        position: absolute;
        top: 0;
        right: 10px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.64);
        transition: .3s color;
        font-size: 30px;
    }
    
    .button-cancel:hover
    {
        color: black;
    }
    
    /* /Popup */
    
    /* cv */
    .center {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        max-width: 600px;
    }
    
    .wrapper
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }
    
    .wrapper label
    {
        display: block;
    }
    
    .wrapper button
    {
        display: block;
    }
    
    #input-file
    {
        pointer-events: none;
        display: none;
    }
    
    #button-input-file
    {
        height: 50px;
        width: 50px;
    }
    
    /* /cv */
}